section.hero {
  $height: 50vh;

  background-color: $gray-light;
  height: $height;
  max-height: 415px;
  min-height: 350px;

  > article {
    background: url('images/colin_portrait_transparent.png'), $gray-light;
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: left 30px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    max-width: $site-max-width;
    margin: 0 auto;
    padding: 0 15px;
    width: calc(100% - 30px);
  }

  .content {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 550px;
    max-width: 400px;
  }

  @media (max-width: 768px) {
    height: auto;

    > article {
      background-color: $gray-light;
      background-position: center 150px;
      background-size: 300px;
      padding-top: 20px;
      height: auto;
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }

    .content {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0;
      margin-bottom: 350px;
      text-align: center;
    }
  }
}
