.services {
  > article {
    max-width: $site-max-width;
    margin: 0 auto;

    > header {
      margin-bottom: 50px;
      text-align: center;

      h4 {
        font-size: 2.0rem;
      }
    }
  }

  > article > section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -50px;
  }

  .service {
    box-shadow: $box-shadow;
    display: flex;
    flex-direction: column;
    border: 1px solid $gray-light;
    width: calc(50% - 100px);
    margin: 0 50px;
    margin-bottom: 50px;
    padding: 20px 75px;

    h5 {
      margin-bottom: 20px;
      text-align: center;
    }

    > section {
      text-align: center;
    }
  }

  @media (max-width: 768px) {
    > article > section {
      flex-direction: column;
      flex-wrap: no-wrap;
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }

    .service {
      width: calc(100% - 30px);
      margin-left: 15px;
      margin-right: 15px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
