@import "variables";
@import "outline_reset";
@import "buttons";
@import "header";
@import "hero";
@import "production_rails_blog";
@import "services";
@import "projects";
@import "technologies";
@import "contact";
@import "email_optin";
@import "privacy";

html, body {
  background-color: $white;
  color: $font-color;
  display: flex;
  flex-direction: column;
  font-family: $paragraph-font-family;
  font-size: 12pt;
  min-height: 100%;
}

h1,h2,h3 {
  font-family: $heading-font-family;
}

h2 {
  font-size: 1.5rem;
}
