$gray: #747881;
$gray-light: #eaf5f8;
$white: #ffffff;

$heading-font-family: 'Noto Serif', serif;
$paragraph-font-family: 'Muli', "Helvetica Neue", Arial, sans-serif;

$font-color: darken($gray, 10%);

$header-color: $white;
$site-max-width: 1280px;


